.active {
  border-bottom: 2px solid #e60606;
  padding-bottom: 20px;
  color: #e60606;
}

.nav-tab {
  cursor: pointer;
  font-size: 20px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .nav-tab {
    font-size: 14px;
    max-width: 70px;
  }
}
