.food-details-card {
  display: grid;
  gap: 30px;
  grid-template-columns: 0.2fr 12fr 2fr 2fr;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .food-details-card {
    grid-template-columns: 0.2fr 20fr 1fr 0.5fr;
    gap: 15px;
  }
}

.red-dot {
  border: 1px solid red;
  padding: 3px 5px;
  align-self: flex-start;
  background-color: rgb(251, 237, 234);
}

.green-dot {
  border: 1px solid green;
  padding: 3px 5px;
  align-self: flex-start;
  background-color: rgb(236, 252, 212);
}
@media (max-width: 768px) {
  .red-dot {
    padding: 3px 3px;
    font-size: 10px;
  }
  .green-dot {
    padding: 3px 3px;
    font-size: 10px;
  }
}

.food-item-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media(max-width:768px){
  max-width: 150px;
}

.food-item-details h1 {
  font-size: 23px;
  font-weight: 700;
  color: #0b3142;
}

@media (max-width: 768px) {
  .food-item-details h1 {
    font-size: 20px;
  }
}

.food-price {
  color: rgb(80, 82, 83);
  font-weight: 600;
  font-size: 17px;
}

.description {
  color: rgb(160, 157, 157);
  font-size: 16px;
}

.availablity-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.cart-btns {
  padding: 5px 15px;
  background-color: rgb(10, 158, 10);
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-radius: 25px;
  align-items: center;
  color: white;
}

.availablity-content div button {
  border: none;
  background-color: transparent;
  color: white;
}

.custom-available {
  color: rgba(17, 17, 254, 0.877);
}

.not-available {
  color: rgba(228, 17, 17, 0.762);
}

.calories {
  align-self: center;
  color: red;
  font-size: 18px;
}
@media (max-width: 768px) {
  .calories {
    margin-left: 10px;
    font-size: 15px;
  }
}

.food-img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

#add-to-cart {
  color: white;
  font-size: 12px;
  padding: 12px 8px;
  border-radius: 6px 14px;
  background-color: #0aa9f8;
}

@media (max-width: 768px) {
  #add-to-cart {
    font-size: 10px;
  }
}

.cart-controllers {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

@media (max-width: 768px) {
  .food-img {
    height: 90px;
    width: 90px;
    align-self: center;
    border-radius: 10px;
  }
}
